.div1{
	padding: 5px;
	margin: 30px;
	border: 2px solid blue;
	background-color: yellow;
}
.divcell{
	display: inline-block;
	width: 48%;
	border: 1px solid grey;
	background-color: lightpink;
	text-align: center;
}