.mytable{
	border-style: solid;
	border-width: 2px;
	text-align: center;
}
.myevenrow{
	background-color: #DDDDDD;
	color: black;
}
.myoddrow{
	background-color: #BBBBBB;
	color: black;
}
.myheader{
	background-color: black;
	color: white;
	font-weight: bold;
}