.button1{
	background-color:#CC0000;
	color: white;
}
.txtblue{
	background-color:#0000CC;
	color: black;
	text-align: center;
}
.txtgreen{
	background-color:#00CC00;
	color: white;
	text-align: center;
}

